@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200..900&display=swap');

body{
    font-family: sans-serif, Arial, Helvetica, serif;
    display: flex;
    align-content: center;
    justify-content: center;
}

.bot{
    border: .2px solid grey;
    padding: 25px;
    min-width: 700px;
    max-width: 700px;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 800px;
    position: relative;
}
.bot_img{
    width: 100px;
    height: 100px;
}

.bot_top_info{
    display: flex;
    border-bottom: 1px solid red;
    color: red;
}

.heading{
    margin-left: 30px;
    margin-top: 25px;
}
.info{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50px;
    right: 100px;
}

.info_box{
    width: 150px;
    height: 100px;
    border: 1px solid rgb(138, 137, 137);
    border-radius: 10%;
    padding: 6px;
    background: rgb(230, 230, 230);
    position: absolute;
    right: 130px;
    top: 65px;
    display: none;
    z-index: 1;
}

.info_box p{
    font-size: 13px;
    text-align: center;
}

.info:hover~.info_box{
    display: block;
}
.info_box:hover{
    display: block;
}

.send_br{
    position: absolute;
    bottom: 10px;
    background: red;
    width: 70%;
    left: 15%;
    border-radius: 50em;
}

#usr_mseg{
    width: 70%;
    padding: 15px 20px;
    border-radius: 100px;
    border: 1px solid red;
    font-size: 1em;
    outline: 0;
}

.msg_btn{
    width: 100px;
    height: 47px;
    background: transparent;
    color: white;
    border: 1px solid transparent;
    font-size: 20px;
    border-radius: 500px;
    font-weight: 600;
    cursor: pointer;
}

.main{
    position: absolute;
    background: url('avatar.png');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 650px;
    margin-top: 5px;
    width: 93.5%;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 650px;
}

.main::-webkit-scrollbar{
    width: 0;
}

.screen{
    margin-top: 30px;
}

#user_msg{
    padding: 15px 25px;
    background: red;
    color: white;
    border-radius: 50em;
    width: max-content;
    margin-top: 30px;
    margin-left: 30px;
    max-width: 80%;
}

#bot_reply{
    padding: 15px 25px;
    margin-left: 70px;
    background: rgb(129, 127, 127);
    color: white;
    border-radius: 50em;
    width: max-content;
    max-width: 80%;
    margin-top: 30px;
}

.play{
    position: absolute;
    bottom: 27px;
    font-size: 30px;
    border: 1px solid red;
    color: red;
    border-radius: 10px;
    margin-left: 12px;
    background: white;
}



@media only screen and (max-width:700px){
    .bot{
        border: 0;
        margin: 0;
        min-width: 100%;
        max-width: 0;
    }
}

@media only screen and (max-width:670px){
    .send_br{
        width: 86%;
        left: 7%;
    }
}

@media only screen and (max-width:550px){
    .send_br{
        width: 90%;
        left: 5%;
    }
}

@media only screen and (max-width:510px){
    .send_br{
        width: 95%;
        left: 5%;
    }
}

@media only screen and (max-width:480px){
    .send_br{
        width: 100%;
        left: 4%;
    }
}

@media only screen and (max-width:430px){
    #usr_mseg{
        width: 60%;
    }
}
@media only screen and (max-width:300px){
    .info{
        display: none;
    }
    #usr_mseg{
        width: 50%;
    }
}